@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.navmb {
    @apply flex p-5 justify-between items-center;
}


.navlinks {
    @apply hover:border-b-2 hover:border-white;
}

.btn {
    @apply cursor-pointer flex items-center justify-center relative;
}

.btn::before {
    position: absolute;
    z-index: 0;
    transition: 0.2s;
    content: '';
    border-bottom: 1px solid white;
    height: 100%;
    width: 0%;
}

.btn:hover::before {
    width: 100%;
}
.ftTitle{
    @apply pt-8 pb-2 font-bold text-xl desktop:text-2xl ;
}


.ftBody{
    @apply font-body;
}

.featureCard{
   @apply flex flex-col items-center text-center z-10 text-white px-4  desktop:px-10;
}

.testCards{
    @apply flex flex-col gap-4 bg-primary-TestBg shadow-xl rounded mx-8 md:mx-0 md:px-10 z-10 text-white leading-loose py-6 px-6;

}

.testCardP1{
    @apply text-xs font-body font-light;
}

.testProfile{
    @apply rounded-full w-8;
}

.testName{
    @apply text-sm font-bold;
}

.testDetails{
    @apply flex gap-4;
}

.testTitle{
  @apply  text-xs font-body;
}

.footLink{
    @apply hover:font-bold;
}